<h1>Friend</h1>
<h2>My friend list</h2>
<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Nick Name</th>
    <th>GitHub Page</th>
  </tr>
  <tr>
    <td>Adam</td>
    <td>p</td>
    <td>Adam</td>
    <td>
      <a
        href="https://github.com/camt-mmit/2024-01-954447-001-lab04-basic-angular-thanitpp"
        >Lab04</a
      ><a
        href="https://github.com/camt-mmit/2024-01-954447-001-lab04-basic-angular-thanitpp"
        >Lab04</a
      ><a
        href="https://github.com/camt-mmit/2024-01-954447-001-lab04-basic-angular-thanitpp"
        >Lab04</a
      >
    </td>
  </tr>
  <tr>
    <td>wpood</td>
    <td>mis</td>
    <td>Poom</td>
    <td>
      <a
        href="https://github.com/camt-mmit/2024-01-954447-001-lab04-basic-angular-thanitpp"
        >Lab04</a
      ><a
        href="https://github.com/camt-mmit/2024-01-954447-001-lab04-basic-angular-thanitpp"
        >Lab04</a
      ><a
        href="https://github.com/camt-mmit/2024-01-954447-001-lab04-basic-angular-thanitpp"
        >Lab04</a
      >
    </td>
  </tr>
</table>
