<div class="profile-container">
  <p>proflie works!</p>
  <h1>My Profile</h1>
  <h2>Basic Information</h2>
  <ul class="basic-info">
    <li><b>Name</b>: Poom Poom</li>
    <li><b>Gender</b>: Male</li>
    <li><b>Age</b>: 21</li>
  </ul>
  <h2>Autobiography</h2>
  <p class="autobiography">
    I was born in Thailand, on the day I was born the weather seemed unreal, and
    I felt like my power was going to awaken and I would become the demon king.
  </p>
  <h2>GitHub</h2>
  <div class="github-links">
    <a
      href="https://github.com/camt-mmit/2024-01-954447-001-lab04-basic-angular-thanitpp"
      target="_blank"
      >Lab02</a
    >
    <a
      href="https://github.com/camt-mmit/2024-01-954447-001-lab04-basic-angular-thanitpp"
      target="_blank"
      >Lab03</a
    >
    <a
      href="https://github.com/camt-mmit/2024-01-954447-001-lab04-basic-angular-thanitpp"
      target="_blank"
      >Lab04</a
    >
  </div>
</div>
